<section class="landing-container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Audio Production Packs
      </h1>
        <p class="lead">Download the premium audio production pack which includes mp3 and raw Ableton files.</p>
        <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ stripePublishableKey }}"
          data-amount="999"
          data-name="Easton Beat Bundle"
          data-description="Easton Beat Bundle"
          data-locale="auto"
          data-currency="gbp">
        </script>
        <script type="text/javascript">
        // hide default stripe button
        document.getElementsByClassName('stripe-button-el')[0].style.display = "none";
        </script>
        <button type="submit" name="button" class="btn btn-outline-dark btn-lg">Purchase for £9.99</button>
      </form>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</section>
