<section class="py-2">
<div class="row">
  <div class="col-md-6 text-center">
    <h1 class="display-3 mt-3 pt-5">
Web Development Ebook
    </h1>
      <p class="lead">Learn Web Development Front To Back</p>
      <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ stripePublishableKey }}"
        data-amount="999"
        data-name="Easton Beat Bundle"
        data-description="Easton Beat Bundle"
        data-locale="auto"
        data-currency="gbp">
      </script>
      <script type="text/javascript">
      // hide default stripe button
      document.getElementsByClassName('stripe-button-el')[0].style.display = "none";
      </script>
      <button type="submit" name="button" class="btn btn-outline-dark text-white btn-lg">Purchase for £9.99</button>
    </form>
  </div>
  <div class="col-md-6">
    <img src="/img/image5.jpg" alt="" class="img-fluid">
  </div>
</div>
</section>
