<section class="main landing-container">
  <h1>
    blackout.
  </h1>
    <p>Get royalty free music sent straight to your inbox.</p>
    <p><strong>We make. We send. You create.</strong></p>

  <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{stripePublishableKey}}"
    data-amount="499"
    data-name=""
    data-description=""
    data-locale="auto"
    data-currency="gbp">
  </script>
  <script type="text/javascript">
  document.getElementsByClassName('stripe-button-el')[0].style.display = "none";
  </script>
  <div class="btn-container">
    <button type="submit" name="button" class="btn">
      <span>
          <span>Click here to subscribe!</span>
      </span>
    </button>
  </div>
</form>
</section>
<section class="about">
  <div class="row text-center">
    <div class="col-sm-4">
      <h3>We cook up some tasty beats in our lab</h3>
    </div>
    <div class="col-sm-4">
      <h3>We send send you at least 5 tracks a month</h3>
    </div>
    <div class="col-sm-4">
      <h3>You can use them for anything you like!</h3>
    </div>
  </div>
</section>

<section class="info">
  <div class="row">
    <div class="info-block col-sm-6">
      <h4>The Music.</h4>
      <p>We only make music that we think will resonate with you.</p>
      <p>Our speciality is urban music. Hip-hop. Rap. Trap. Grime.</p>
      <p>Our love for live music does influence the music we make and try to use live instruments as much as possible.</p>
      <p>If it's a head bobber, it goes on the list.</p>
    </div>
    <div class="info-block col-sm-6">
      <h4>The Service.</h4>
      <p>How the service works. You simply sign up for a set monthly cost of £4.99 per month and we do the rest. Once you've subscribed, you get added to our mailing list and we start sending you music. It's that simple.</p>
    </div>
  </div>
</section>
