<section class="py-5">
   <h1 class="display-3">
     Thank you
   </h1>
   <p class="lead">
     Your pack should be with you within the week.
   </p>
   <a href="/" class="btn btn-dark btn-lg" download="#">Click here to download</a>
   <a href="/" class="btn btn-dark btn-lg">Go Back</a>
</section>
