body {
  background: #000;
  font-weight: 300;
  color: #fff;
}
nav {
  border-bottom: solid 2px #fff;
}

.landing-container {
  padding-top: 20px;
}
.landing-container img {
  border: solid 5px #333;
  border-radius: 10px;
}

iframe {
  margin-top: 20px;
}
