body {
  background: url('../img/background.jpeg');
  background-size: 100vw 100vh;
  font-weight: 300;
  color: #fff;
}
h1, h2, h3 {
  font-weight: 300;
}
nav {
  border-bottom: solid 2px #fff;
}

.landing-container {
  padding-top: 20px;
}
.landing-container img {
  border: solid 5px #333;
  border-radius: 10px;
}

iframe {
  margin-top: 20px;
}
