body {
  background: url('../img/background.jpeg');
  background-size: 100vw 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}
h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 1px;
}
h1 {
  letter-spacing: 5px;
}
span {
  width: 80px;
  height: 3px;
  background: white;
  line-height: 9px;
  display: inline-block;
  margin: 20px;
}
nav {
  border-bottom: solid 2px #fff;
  text-align: center;
}

.landing-container {
  margin: 0;
  padding: 0;
}
.landing-container img {
  border: solid 5px #333;
  border-radius: 10px;
}

iframe {
  margin-top: 20px;
  border-radius: 20px;
}
.cookiePolicy a{
  display: none;
}

button.btn {
  color: #fff;
  font-weight: 300;
  background: none;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  border-radius: 0;
  padding: 10px 25px;
}
button.btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
button.btn:focus {
  outline: none;
}

.container::after {
  content: "";
  background: #000;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
